@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./Fonts/AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./Fonts/AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./Fonts/AeonikTRIAL-Bold.otf);
}
:root{
    --pri:#364F6B;
    --sec:#3FC1C9;
    --tri1:#F5F5F5;
    --tri2:#FC5185;
}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: aeonik;
    color: var(--tri2);
    overflow: auto;
}

.main{
    height: 100%;
    width: 100%;
    background-color: var(--pri);
}
nav{
    width: 100%;
    height: 50px;
    background-color: var(--sec);
}

section.all-elems{
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content:space-around;
    position: absolute;
}

.elem{
    height: 300px;
    width: 220px;
    background-color: var(--tri1);
    border-radius: 10px;
    font-size: 30px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2{
    position: absolute;
    font-weight: 500;
    font-size: 20px;
    bottom: 5%;
    right: 5%;
    color: var(--tri1);
}

.elem:active{
    scale: 0.95;
}

.fullelem{
    height: 100%;
    width: 100%;
    font-size: 30px;
    font-family: aeonik;
    padding: 20px;
    display: none;
    position: absolute;
    background-color:var(--pri);
    color: var(--tri2);
    overflow: auto;
}

img{
    pointer-events: none;
}

.back{
    padding: 5px 10px;
    border: none;
    background-color: var(--tri2);
    color: var(--tri1);
    font-weight: 200;
    position: absolute;
    right: 5%;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.back:active{
    scale: 0.95;
}

.fullelem h2{
    font-weight: 700;
    font-size: 65px;
}

.task-container{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.task-container .input-task{
    width: 33%;
    height: 100%;
    background-color: var(--sec);
    border-radius: 15px;
    padding: 10px;
    
}
.input-task form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.task-container .all-task{
    width: 65%;
    height: 100%;
    background-color: var(--sec);
    border-radius: 15px;
}

.input-task form input{
    padding: 10px 15px;
    background-color: var(--tri1);
    border: none;
    border-radius: 5px;
}

.input-task form textarea{
    height: 50%;
    padding: 10px 15px;
    background-color: var(--tri1);
    border: none;
    border-radius: 5px;
}

.input-task form button{
    height: 10%;
    border: none;
    border-radius: 5px;
    background-color: var(--tri2);
    font-size: 20px;
    color: #F5F5F5;
}

.all-task{
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.all-task .task{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    background-color: var(--tri1);
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 8px;

}

.task h3{
    font-size: 20px;
    font-family: aeonik;
    font-weight: 500;
}

.task button{
    padding: 10px;
    background-color: rgb(71, 235, 71);
    border: none;
    border-radius: 5px;
    transition: all ease 0.2s;
}
.task button:active{
    scale: 0.95;
}

.mark-imp label{
    font-size: 20px;
    color: white;
}



